body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}

button{
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
